.content{
    position: relative;
}
.inforConfirm-img{
    width:100%;
}
.inforConfirm-top{
    margin:20px 0 20px 0;
}
.informConfirm-middle{
    position: relative;
}
.informConfirm-middle a{
    display: block;
    position: absolute;
    top:0;
    left: 21%;
    width:55%;
}
.img-btn{
    width:100%;
    position: relative;
    top:1px;
}
.inforConfirm-img-lr{
    width:50%;
    float: left;
}